* {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: Photography;
    src: url(Photography.otf);
}

body {
    margin: 0;
    overflow: hidden;
}

head {
    display: none;
}

p {
    display: inline;
}

#container {
    display: flex;
    height: 100vh;
    width: 100vmax;
    flex-direction: row;
}

#pic {
    background-image: url("img/bgpic.jpg");
    background-size: cover;
    flex-grow: 1;
    justify-content: space-between;
}

#logobar {
    display: flex;
    position: relative;
    top: 150px;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#logobar h1 {
    font-family: Photography;
    font-size: 10vmax;
    margin: 0;
    margin-bottom: 1.5vmax;
    font-weight: 500;
}


#logo {
    height: 7vmax;
    margin: 5px;
    filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(94deg) brightness(99%) contrast(102%);
}

#credit {
    align-items: center;
}

#credit p {
    margin: 0;
    color: white;
    justify-content: center;
}

#credit p:last-child {
    margin-bottom: 10px;    
}

#credit a {
    color: white;
}

#content {
    background-color: #f8f6f5;
    flex-grow: 3;
    justify-content: center;
}

h2 {
    color: #557022;
}

.wrapper {
    padding: 20px 40px;
}

h3 {
    margin: 0;
}

#formbox {
    background-color: white;
    filter: drop-shadow(0px 5px 2px #dad5d1);
    padding-top: 15px;
    padding-bottom: 25px;
}

#formbox h3 {
    margin: 10px 40px;
    font-weight: 600;
}

form div {
    flex-direction: row;
}

form div label {
    margin: 5px 40px;
    font-size: 12px;
}

button {
    background-color: #557022;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 2px #dad5d1);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 35px;
    max-width: fit-content;
}

.wrapper a {
    color: #557022;
    font-weight: bold;
}